/* GENERAL PAGE STYLES */

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}


header {
    text-align: center;
    font-size: 22px;
    margin: 1em;
}

main {
    max-width: 860px;
    margin: auto;
}

input {
    padding: .75em;
    border-radius: 10px;
    border: none;
    margin: 1em;
    background-color: white;
    border: lightseagreen 1px solid; 
}

input:focus {
    border: lightseagreen 3px solid; 
    outline: none;
}

.thumbnail:hover {
    border: lightseagreen 3px solid; 
    transform: scale(1.1); 
}

/* PHOTO GRID STYLES */

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, 200px);
    grid-gap: 20px;
}

.gallery a {
    width: 200px;
    height: 200px;
    justify-self: center;
}